<!DOCTYPE html>
<html>
<head>
<title>视频监控</title>
${inc:/action/project/fitness/home/pub}
<style type="text/css">



</style>
</head>
<body >

<div class="panel panel-primary container" >
	<div class="col-md-12 column " style="overflow:hidden;">
		<div class="panel panel-danger col-md-4 column">
			<img  style="height:200px" src="/js/project/fitness/image/railway.png" />
		</div>
		<div class="panel panel-danger col-md-4 column">
			<img  style="height:200px" src="/js/project/fitness/image/railway.png" />
		</div>
		<div class="panel panel-danger col-md-4 column">
			<img  style="height:200px" src="/js/project/fitness/image/railway.png" />
		</div>
	</div>
	<div class="col-md-12 column " style="overflow:hidden;">
		<div class="panel panel-danger col-md-4 column">
			<img  style="height:200px" src="/js/project/fitness/image/railway.png" />
		</div>
		<div class="panel panel-danger col-md-4 column">
			<img  style="height:200px" src="/js/project/fitness/image/railway.png" />
		</div>
		<div class="panel panel-danger col-md-4 column">
			<img  style="height:200px" src="/js/project/fitness/image/railway.png" />
		</div>
	</div>
	<div class="col-md-12 column " style="overflow:hidden;">
		<div class="panel panel-danger col-md-4 column">
			<img  style="height:200px" src="/js/project/fitness/image/railway.png" />
		</div>
		<div class="panel panel-danger col-md-4 column">
			<img  style="height:200px" src="/js/project/fitness/image/railway.png" />
		</div>
		<div class="panel panel-danger col-md-4 column">
			<img  style="height:200px" src="/js/project/fitness/image/railway.png" />
		</div>
	</div>
</div>

	


	<input type="hidden" name="actionroot" id="actionroot" value="${def:actionroot}" />

	<script language="javascript">

		$(document).ready(function() {
	
			
		});
	</script>
</body>
</html>